<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601911078689-ojbrmvkeocah63a2oc4g0l0jjnt39t5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601911078689-ojbrmvkeocah63a2oc4g0l0jjnt39t5n</string>
	<key>API_KEY</key>
	<string>AIzaSyBnVUpFCwQ7BLkF-g7-ykUg39Dg2nhVZUo</string>
	<key>GCM_SENDER_ID</key>
	<string>601911078689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.voyage1</string>
	<key>PROJECT_ID</key>
	<string>voyageglid3</string>
	<key>STORAGE_BUCKET</key>
	<string>voyageglid3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601911078689:ios:4afb1688ddd6e0ba88d860</string>
</dict>
</plist>